<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{'errors.400.title'}">400 Error</title>
    <link rel="icon" href="/icons/logo.svg" type="image/svg+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <h1 th:text="#{'errors.400.headr'}">400 Title</h1>
    <p>
    <h2 th:text="${error}">400 Message</h2>
</body>
</html>