<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>[[${teacherView.getUser().getFirstName()+' '+teacherView.getUser().getLastName()}]]</title>
    <link rel="icon" href="/icons/logo.svg" type="image/svg+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<section class="title">
    <div class="background_title">
        <div class="container">
            <h2 class="text-center">Professor</h2>
        </div>
    </div>
</section>

<section class="teacher_details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 th:text="${teacherView.getUser().getFirstName()+' '+teacherView.getUser().getLastName()}"></h2>
                <br>

                <div class="list-group mb-2" th:each="course : ${teacherView.getCourses()}">
                    <a th:href="@{/courses/{id}(id=${course.getId()})}"
                       class="list-group-item list-group-item-action"
                       th:text="${'Course: ' + course.getName()}"></a>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <a sec:authorize="hasRole('ADMIN') or hasRole('STUFF')" th:href="@{/teachers/{id}/edit(id=${teacherView.getId()})}" class="btn btn-secondary me-2">Edit Teacher</a>
                    <form sec:authorize="hasRole('ADMIN')" th:method="DELETE" th:action="@{/teachers/{id}(id=${teacherView.getId()})}">
                        <button type="submit" class="btn btn-danger">Delete Teacher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{fragments/scripts.html :: div.scripts}"></div>
</body>
</html>