<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${group.getName()}]]</title>
    <link rel="icon" href="/icons/logo.svg" type="image/svg+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<section class="title">
    <div class="background_title">
        <div class="container">
            <h2 class="text-center">Group</h2>
        </div>
    </div>
</section>

<section class="group_details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 th:text="${group.getName()}"></h2>
                <br>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id sodales massa. Nulla mattis, tortor in aliquet molestie, massa urna vestibulum lorem, ut commodo risus massa vel enim. Nullam tristique ante elit, sed porttitor ex mollis a. Aliquam quis enim quam. Maecenas a imperdiet leo. Phasellus commodo varius velit vitae euismod. Nam sapien lectus, aliquet at viverra nec, porta vitae massa. Vestibulum id nisl non lorem vulputate dictum eget non tellus.
                </p>


                <div class="list-group" th:each="student : ${group.getStudents()}">
                    <a th:href="@{/students/{id}(id=${student.getId()})}"
                       class="list-group-item list-group-item-action"
                       th:text="${'Student: ' + student.getFirstName() + ' ' + student.getLastName()}"></a>
                </div>


                <div class="d-flex justify-content-end mt-3">
                    <a th:href="@{/groups/{id}/edit(id=${group.getId()})}" class="btn btn-secondary me-2">Edit Group</a>
                    <form th:method="DELETE" th:action="@{/groups/{id}(id=${group.getId()})}">
                        <button type="submit" class="btn btn-danger">Delete Group</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>