<header>
    <nav>
        <div class="container">
            <ul class="menu">
                <li class="menu_item"><a href="/" class="menu_link">Home</a></li>
                <li class="menu_item"><a href="/courses" class="menu_link">Courses</a></li>
                <li class="menu_item"><a href="/groups" class="menu_link">Groups</a></li>
                <li class="menu_item"><a href="/students" class="menu_link">Students</a></li>
                <li class="menu_item"><a href="/teachers" class="menu_link">Professors</a></li>
                <li class="menu_item"><a href="#" class="menu_link">Contact</a></li>
                <li class="menu_item menu_item_login">
                    <a href="#" class="menu_link">
                        <span class="menu_link_text">Log In</span>
                        <img src="/icons/account.png" alt="logo">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>