<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University</title>
    <link rel="icon" href="/icons/logo.svg" type="image/svg+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<section class="title">
    <div class="background_title">
        <div class="container">
            <h2 class="text-center">Schedule</h2>
        </div>
    </div>
</section>

<section>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Create New Lesson</h5>
            </div>
            <div class="card-body">
                <form th:method="POST" th:action="@{/schedules}" th:object="${schedule}">
                    <div class="mb-3">
                        <label for="groups" class="form-label">Group:</label>
                        <select class="form-select" id="groups" name="groupId">
                            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="courses" class="form-label">Course:</label>
                        <select class="form-select" id="courses" name="courseId">
                            <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="start_time">Start Time:</label>
                        <input type="datetime-local" id="start_time" th:field="*{startTime}"/>
                    </div>

                    <div class="mb-3">
                        <label for="end_time">End Time:</label>
                        <input type="datetime-local" id="end_time" th:field="*{endTime}"/>
                    </div>

                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{fragments/scripts.html :: div.scripts}"></div>
</body>
</html>