<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University</title>
    <link rel="icon" href="/icons/logo.svg" type="image/svg+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<section class="title">
    <div class="background_title">
        <div class="container">
            <h2 class="text-center">Generate Data</h2>
        </div>
    </div>
</section>

<section class="generator">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center mb-3">
                <form th:action="@{/generator/static}" method="post">
                    <button type="submit" class="btn btn-secondary">Generate Static Data</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Generate data</h5>
                        <p class="card-text">Enter quantities:</p>
                        <form th:action="@{/generator/dynamic}" th:object="${generateDataRequest}" method="post">
                            <div class="mb-3">
                                <label for="numberOfStudents" class="form-label">Number of students:</label>
                                <input type="number" class="form-control" id="numberOfStudents" name="numberOfStudents" min="1" th:field="*{numberOfStudents}">
                            </div>
                            <div class="mb-3">
                                <label for="numberOfGroups" class="form-label">Number of groups:</label>
                                <input type="number" class="form-control" id="numberOfGroups" name="numberOfGroups" min="1" th:field="*{numberOfGroups}">
                            </div>
                            <div class="mb-3">
                                <label for="numberOfCourses" class="form-label">Number of courses:</label>
                                <input type="number" class="form-control" id="numberOfCourses" name="numberOfCourses" min="1" th:field="*{numberOfCourses}">
                            </div>
                            <div class="mb-3">
                                <label for="numberOfTeachers" class="form-label">Number of teachers:</label>
                                <input type="number" class="form-control" id="numberOfTeachers" name="numberOfTeachers" min="1" th:field="*{numberOfTeachers}">
                            </div>
                            <button type="submit" class="btn btn-primary">Generate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>