<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University</title>
    <link rel="icon" href="/icons/logo.svg" type="image/svg+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div th:replace="~{fragments/header.html :: header}"></div>

<section class="login">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Login</h5>
            </div>
            <div class="card-body">
                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div th:if="${param.error}" class="form-text error_msg">
                        Invalid username or password.
                    </div>
                    <div th:if="${param.logout}" class="form-text message">
                        You have been logged out.
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{fragments/scripts.html :: div.scripts}"></div>
</body>
</html>